.slider__slide
    position: absolute
    display: inline-block
    font-family 'Open Sans', 'sans-serif'
    font-size: 7.14285714rem
    font-weight: 700
    color: #fff
    border-bottom: 4px solid linkColor
    opacity: 0
    
    &.active
        opacity: 1