.slider_type_header
    height: 370px
    padding-top: 120px

    .slider__slide
        font-family 'Open Sans', 'sans-serif'
        font-size: 7.14285714rem
        font-weight: 700
        color: #fff
