size = 14

.slider__circle
    display: inline-block
    width: (size)px
    height: (size)px
    border-radius: (size/2)px
    margin-right: (size/2)px
    background: rgba(255,255,255,.5)
    cursor: pointer
    
    &:hover
        background: rgba(255,255,255,1)
