.menubar__link
    padding-left: 17px
    padding-right: 16px
    border-right: 1px solid rgba(0,0,0,.5)
    font-size: .9rem
    color: #fff
    list-style: none
    text-transform: uppercase
    font-weight: 700
    text-decoration: none
    
    &:last-child
        border-right: 0
        
    &:hover,
    &.active
        color: #ffdb4d